

.map_contact { width: 610px;  
       height: 360px ;                   }

.contact_container  { display: flex;  
                    justify-content:center;    
                    align-items:center  ; 
                    margin-top: 3rem;             }

.list_contant  { display: flex; 
                 flex-direction: column; 
                 margin-left: 4rem;  
                 justify-content: space-around;  
                 height: 390px;     }

                 ul{  line-height: 2rem    ;   }

.item_tel   {   font-size: 22px;  
                color: #000000;}